/* Html / Body */

html,


body {
	border: none;
	margin: 0;
	padding: 0;
    font-family: arial,sans-serif;
    
}

/* Navigation */

nav{
    margin-right: 5px;
}

li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    padding: 10px;



}

a{
    text-decoration: none;
    color: black;
    font-size: 15px;

}

a:hover{
    text-decoration: underline;
}


/* Container Box */

.box {
  
    display: flex;
    align-items: center;
    justify-content: center;
    


}


/* Google Logo */

.pictureBox {
   
   
    min-height: 150px;
    max-height: 290px;
    max-width: 250px;
   
}

/* Searchbar */

.searchbarOutline {
    

    border: 1px solid grey;
    border-radius: 25px;
    padding: 10px;
  
    display: flex;
    
    align-items: center;
    height: 34px;
    font-size: 16px;
    outline: none;
    
    width: 300px;
    
}

.searchbarOutline:hover {
    box-shadow: 0px 0px 10px 2px;
    color: gray;
}

#searchbarInline {
    margin-left: 30px;
    max-width: 250px;
    padding: 5px;
    border: white;
      
}

.searchIcon{
    height:25px;
    width: 25px;
    color:grey;
    fill: currentColor;
}

.border-bottom{
    border-bottom: 1px solid lightgrey;
}


footer{
    
    background-color: rgb(230, 230, 230);
    text-align: center;
    font-size: 15px;
    color: gray;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

a.footer-a{
    color:gray;
}

.box-flex{
    margin-top:30px;
    display: flex;
    align-items: center;
    justify-content: center;


}

button{
    padding:20px;
    border:1px solid white;
    border-radius: 15px;
    
}

button:hover{
    border: 1px solid lightgray;
}

.buttonHeader {
    border: 0px solid black;
    border-radius: 15px;
    background-color: cornflowerblue;
}

.buttonHeader:hover {
    box-shadow: 0px 0px 1px 0px;
    cursor:pointer;
}

.symbol {
    width:25px;
    fill: grey;

}
.symbolDiv {
    width: 40px;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.symbolDiv:hover {
    
    border-radius: 20px;
    background-color: lightgrey;
    cursor:pointer;
}

ul {
    display: flex;
    align-items: center;
}

.navLeft {
    float:left;
    display: flex;
    align-items: center;
    
}

.navRight {
    float:right;
    display: flex;
    align-items: center;
   
    
    
}

li {
    margin: 10px;
}

.menu {
    height: 200px;
}

.mainContent {
    display: grid;
    justify-content: center;
    align-items: center;

}